/*Starts With About Me (index.html)*/
body{
    background:white;
    line-height:32px;
}
#HCntnr {
    position:fixed;
    width:auto;
}
#Header{
    position:fixed;
    top:10;
    margin:0;
    background:white;
    text-align:left;
    text-indent: 21%;
    font-size: 30px;
    width:960px;
}
#Name {
    margin:0;
    padding:10,0,0,0px;
}
button {
    float:right;
    margin-top:10px;
}
#AboutMeContent {
    margin-left:15%;
    width:960px;
}
#AboutMe {
    float:left;
}
#Myimg {
    float:left;
}
footer{
    text-align:center;
    padding: 10px;
}
/*Adding Contact pieces here*/
#ContactPage {
    width:960px;
    margin-top:20px;
    margin-left:15%;
}
#SubmitButton {
    float:left;
}
#ContactMessage {
    height:320px;
    width:900px;
    padding:15px;
    text-align:left;
}
/*Adding Portfolio Page here*/
#PortfolioPage {
    width:960px;
    margin-top:20px;
    margin-left:15%;
    position:relative;
}
#HangmanImg {
    width:300px;
    height:250px;
}
#RPGImg {
    width:300px;
    height:250px;
}
#TriviaGameImg {
    width:300px;
    height:250px;
}
#SMUImg {
    width:300px;
    height:250px;
}
#RPSImg {
    width:300px;
    height:250px;
}

